body {
  display: flex;
  flex-direction: column;
  margin: 12px;
  max-width: 900px;
}

span {
  margin-right: 20px;
}

#source {
  display: flex;
  justify-content: space-between;
  height: 35px;
}

.seat,
#members,
.team-member {
  width: 35px;
  height: 35px;
}

.setupIndicator,
.setupIndicator img {
  width: 25px;
  height: 25px;
}

.table {
  width: 300px;
  height: 150px;
}

.tableContainer {
  position: relative;
  margin-top: 12px;
}

.seat,
.setupIndicator {
  position: absolute;
  z-index: 1000;
}

.manager {
  border: 3px solid orangered;
}
